/* src/pages/auth.css */

.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
}

.auth-box {
  width: 370px;
  padding: 35px;
  background: #1b1b1b;
  border-radius: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.auth-logo {
  width: 90px;
  margin-bottom: 10px;
}

.auth-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.auth-form input,
.auth-select {
  width: 100%;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #2b2b2b;
  color: white;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  background: #e91e63;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.auth-btn:hover {
  background: #ff2f78;
}

.auth-link {
  margin-top: 15px;
  color: #ccc;
  cursor: pointer;
  font-size: 14px;
}

.auth-link:hover {
  color: white;
}

.auth-error {
  background: #ff2e2e;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
